{% extends "test303/base.html" %}

{%block js%}
<script type="text/javascript">
    $(document).ready( function() {
	$('button').click( function() {
	    current = $(this).attr('id');
	    console.log('lol');
	    console.log('clicked: ' + current);
	    $.ajax({
		url: current,
		success: function(data) {
		    console.log("succes");
		    id = Date.now();
		    $('div#'+current).append(
                        '<div id="'+id+'" class="alert alert-success fade in"> \
                         <a class="close" data-dismiss="alert">×</a> \
                         <h4 class="alert-heading">Succes!</h4> \
		    	<p>'+data.message+'</p> \
                        </div>');
		    setTimeout( function() {
			inner_id = id;
			$('#'+inner_id).alert('close');
		    },
				2000
			      )
		},
		error: function(request, errStr, error) {
		    console.log(errStr);
		},
		dataType: 'json',
	    });
	});
	
	setInterval(function() {
	    console.log('clean up');
	    $('.alert').alert('close')
	},
		    6000
		   );
	
	$('.nav').each( function() {
	    $(this).removeClass("active");
	});
	$('#commands').addClass("active");
    })
</script>  
{%endblock%}

{% block breadcrumb %}
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li class="active">commands</li>
{% endblock %}

{% block content %}
<dl>
{% for command in commands %}
<div id="{{command}}">
  <div class="page-header">
    <h4>{{ command|capfirst }}</h4>
  </div>
  <div class="row">
    <div class="span8">
      <button id="{{command}}" class="btn btn-primary" style="margin-bottom: 10px" href="#">Send command</button>
    </div>
  </div>
</div>
{% endfor %}
</dl>
{% endblock %}
