{% extends "test303/base.html" %}

{% block js %}
<script type="text/javascript">
$(document).ready( function() {
  $('.nav').each( function() {
    $(this).removeClass("active");
  });
  $('#editors').addClass("active");
});
</script>
{% endblock %}

{% block breadcrumb %}
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li class="active">Editors</li>
{% endblock %}

{% block content %}
<dl>
<section id="rules">
  <div class="page-header">
    <h4>Rules</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editors/rules"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>

<section id="actions">
  <div class="page-header">
    <h4>Actions</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editors/actions"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>

<section id="sensors">
  <div class="page-header">
    <h4>Sendors</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editors/sensors"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>

<section id="activators">
  <div class="page-header">
    <h4>Activators</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editors/activators"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>
</dl>
{% endblock %}
