{% extends "test303/base.html" %}

{%block js%}
<link rel="stylesheet" href="/media/CodeMirror2/lib/codemirror.css">
<script src="/media/CodeMirror2/lib/codemirror.js" type="text/javascript"></script>
<script src="/media/CodeMirror2/mode/properties/properties.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready( function() {
	$('#save').click( function() {
	    console.log('lol');
	    myCodeMirror.save();
	    $.ajax({
		url: 'json',
		type: 'POST',
		data: {'data': $('#code').val()},
		success: function(data) {
		    console.log("success");
		    console.log(data.state);
		    //Error occured server side
		    if (data['state'] == 0) {
			$('#field').addClass("error");
			$('#field').append('<div class="alert alert-error"> \
                                            <a class="close" data-dismiss="alert">×</a> \
                                            <h4 class="alert-heading">'+data.info+'</h4> \
                                            </div>');
		    } 
		    else {
			$('#field').removeClass("error");
			$('#field').append('<div class="alert alert-success"> \
                                            <a class="close" data-dismiss="alert">×</a> \
                                            <h4 class="alert-heading">'+data.info+'</h4> \
                                            </div>');
		    }
		},
		error: function(request, errStr, error) {
		    console.log(errStr);
		},
		dataType: 'json',
	    });
	});

	$('#cancel').click(function() {
	    $('#field').removeClass("error");
	});

	$('.nav').each( function() {
	    $(this).removeClass("active");
	});
	$('#editors').addClass("active");
	var myCodeMirror = CodeMirror.fromTextArea($('#code')[0], {
	    lineNumbers: true,
	});
    })
</script>
{%endblock%}

{%block style%}
    .CodeMirror {
        border: 1px solid black;
	background: white;
	margin-bottom: 10px;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
        width: 100%;
    }
{%endblock%}

{% block breadcrumb %}
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li><a href="/editors">Editors</a> <span class="divider">/</span></li>
<li class="active">{{type|capfirst}}</li>
{% endblock %}

{% block content %}
<form>
  <fieldset>
    <div class="control-group" id="field">
      <label class="control-label" for="code">{{type|capfirst}}</label>
      <div class="controls">
	<textarea class="input-xlarge" id="code">{{text}}</textarea>
      </div>
    </div>
    <div class="form-actions">
      <a class="btn btn-primary" id="save">Save changes</a>
      <button type="reset" class="btn" id="cancel">Cancel</button>
    </div>
  </fieldset>
</form>


{% endblock %}
