{% extends "test303/base.html" %}


{% block breadcrumb %}
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li class="active">Editors</li>
{% endblock %}

{% block content %}
<dl>
<section id="rules">
  <div class="page-header">
    <h4>Rules</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editor/rules"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>

<section id="actions">
  <div class="page-header">
    <h4>Actions</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editor/actions"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>

<section id="config">
  <div class="page-header">
    <h4>Config</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editor/config"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>

<section id="activators">
  <div class="page-header">
    <h4>Activators</h4>
  </div>
  <div class="row">
    <div class="span2 offset1"><a class="btn btn-primary" href="/editor/activators"><i class="icon-pencil"></i> Edit > </a></div>
  </div>
</section>
</dl>
{% endblock %}
