{% extends "test303/base.html" %}

{%block js%}
<script type="text/javascript">
$(document).ready( function() {
    $('.nav').each( function() {
	$(this).removeClass("active");
    });
    $('#sensors').addClass("active");
})
</script>  
{%endblock%}

{% block breadcrumb %}
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li class="active">sensors</li>
{% endblock %}

{% block content %}

<header class="subhead" id="overview">
  <div class="subnav">
    <ul class="nav nav-pills">
      {%for type_name, type in sensors.items%}
      <li><a href="#{{type_name}}">{{type_name}}</a></li>
      {%endfor%}
    </ul>
  </div>
</header>

<dl>
{% for type_name, type in sensors.items %}
<section id="{{type_name}}">
<div class="page-header">
  <h3>{{type_name}}</h3>
</div>
<div class="row">
  {% for k, sensor in type.items %}
  <div class="span4">
    <dt><a href="{{type_name}}/{{sensor.name}}"> {{sensor.name}} </a></dt>
    <dd>Value : {{ sensor.value }}</dd>
  </div>
  {% endfor %}
</div>
{% endfor %}
</section>
</dl>
{% endblock %}
