{% extends "test303/base.html" %}

{%block js%}
<script type="text/javascript">
$(document).ready( function() {
    $('.nav').each( function() {
	$(this).removeClass("active");
    });
    $('#sensors').addClass("active");
})
</script>  
{%endblock%}

{% block breadcrumb %}
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li class="active">sensors</li>
{% endblock %}

{% block content %}
<dl>
{% for type_name, type in sensors.items %}
<div class="page-header">
  <h3>{{type_name}}</h3>
</div>
{% for k, sensor in type.items %}
  <dt><a href="{{type_name}}/{{sensor.name}}"> {{sensor.name}} </a></dt>
  <dd>Value : {{ sensor.value }}</dd>
{% endfor %}
{% endfor %}
</dl>
{% endblock %}
